/*Téléchargement de la police Raleway*/
@import url(https://fonts.googleapis.com/css?family=Raleway);


body {
  font-family: "Raleway", "Arial", "Verdana", "Sans serif";
  box-sizing: border-box;
  max-width: 1440px;
  margin: 0px;
  padding: 0px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.2;
  color: black;
}

.container {
    max-width: 1350px;
    margin: auto;
    display: flex;
    flex-direction: column;
}
 nav a {
  color: black;
  text-decoration: none;
  margin-bottom: 2rem;
  font-style: normal;
  }
  a:hover{
  	text-decoration: none;
  	color: #0065FC;

  	
  }
 
nav li{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
    margin: 1px;
    border:none;

 }
 header {
	display: flex;
	justify-content: space-around;
	flex-direction: row;
	align-items: center;
	padding:0px;
	margin:0px ;

     }

    /*boutton s'inscrire*/
     .signUp{
     	color: #0065FC;
       font-weight: bold;
       margin-right: 10px;
       display: flex;
       text-decoration: none;
       align-items: center;
       }
     
     li{
     	display:flex;
        margin: 20px;
     	padding:10px;
     	border: 2px solid;
     	border-radius: 30px;
     	color:#F2F2F2;
     	text-decoration: none;
     }  
 
  
    
.fas{
	font-size: 1.25rem;
	color: #0065FC;
	border-radius: 50% ;
	background-color: #F2F2F2;
	border-width: 20px;
	

}


    .logo_img {
   
    margin-right: auto;
    padding:20px;
    height: 55px;

    }
.search{
	color:white;
	font-size: 1.1rem;
	border: 2px solid white;
	background-color: #0065FC;
	border-radius: 0.4rem;
	border-width: 70%;
	height: 40px;
}

.search_data
{

	background-color:  white;
	border: none;
	font-size: 1.1rem;
	width: 15%;
	padding-left:10px;
}





h1{
	font-size: 1.25em;
	font-weight: solid;
    line-height: 1.4;
}

h2{
	font-size: 1.25em;
	font-weight: solid;
    line-height: 1.4;

}



h3{
	font-size: 1.13;
 	font-weight: bold;
    line-height: 1.2;
 }


 p{
 	font-size: 1em;

 }



.filtre{
    display: flex;
    flex-direction: row;
    position: relative;
    margin-left:5px;
    flex-wrap: wrap;
    border: none;

}
 



.fa-map-marker-alt {
    color: black;
    background-color:#F2F2F2;
    border-radius: 15px 0px 0px 15px;
    padding: 15px;
    font-size: 20px;
  }
   
 nav li{
 	display: flex;
 	justify-content: flex-start; 
 	align-items: flex-start;
 	
 }

	 ul{
     display: flex;
     flex-direction: row ;
     flex-wrap: nowrap;
     
     }

}

.headerSignup {
  display: flex;
  align-items: center;
  padding: 2rem;
  color: #0065FC;
 
}


.info-logement{

	display: flex;
	justify-content: flex-start;
	flex-wrap:nowrap;
	margin: 0px;
	padding:10px;


}
#icone-i {

color:  #0065FC;
padding:14px;
font-size: 13px;
background-color: white;
border-radius: 50% ;
border: 2px solid grey;
display: flex;
align-items: center;




}



.hebergement {
	object-fit: cover;
	background-color: #F2F2F2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-content: space-between;
    border-radius: 20px;
    padding: 44px 36px 44px 36px;
    max-width: 805px;
}
	 


@media screen and (max-width: 768px) {

    