@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  font-family: "Raleway", "Sans serif";
  margin: 0px;
}

 nav a {
  color: black;
  text-decoration: none;
  }
  a:hover{
  	text-decoration: none;
  	background-color: #DEEBFF;
  }

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 60px;
 }
 header {
	display: flex;
	align-items: center;
	margin: auto;
	
     }
    .logo_img {
   
    margin left: 1rem;
    padding:45px;
    height: 55px;

    }
h1{
	font-size: 1em;
}
 .Hebergement{
 	color: #000000
 	font-size: 12,7377px 
 	font-family:Raleway sans-serif;
 }

 
 body {
  margin-bottom: 120px;
}
 nav li{
 	display: flex;
 	justify-content: flex-start; 
 	align-items: flex-start;
 	
 }

     ul{
     display: flex;
     flex-flow: row nowrap ;
     
     }


.headerSignup {
  display: flex;
  align-items: center;
  padding: 2rem;
  color: #0065FC;
  font-weight: 600;
}


.info-logement
{
	display: flex;
}
#icone-i {
flex-direction: row;
justify-content: center;

}

div-hebergement{
	display: flex;
	justify-content:flex-start;

}