
@import url(https://fonts.googleapis.com/css?family=Raleway);
body {
  font-family: "Raleway";
  margin: auto;
  max-width: 1440px;
  box-sizing: border-box;
}

.container {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
}

/*----------Header-------------*/

.logo_img {
  
  height: 55px;
  padding-left:40px;
}
header a:hover {
  
  border-top-color:#0065FC;
  color: blue;
  transition-duration: 0.3s;
}

nav li {
  display: flex;
  cursor: pointer;
  font-size: 17px;
  border: none;
  font-weight: normal;
  width: 50%;
  justify-content: space-around;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: row wrap;
  width: 100%;
  }

nav {
  display:flex;
  align-items: center;
  margin-right: 50px;
  width: 50%;
  justify-content: flex-end;
   }
 .menu{
  display: flex;
  margin-right: 20px;
 }
 .menu a{
  border-top: 2px solid transparent;
  padding: 25px;
}

/* barre de recherche*/
#research {
  padding-left:50px;
}
.fa-search{
  visibility: hidden; 
}
.search {
  color: white;
  font-size: 1.1rem;
  border: 2px solid white;
  background-color: #0065FC;
  border-radius:0px 15px 15px 0px;
  height: 50px;
  cursor: pointer;
  padding:10px;
}
.formulaire{
  display: flex;
  flex-direction: row;
}
.search_data {
  font-size: 16px;
  font-weight: bold;
  padding-left: 13px;
  margin-right: -6px;
  border: 1px solid #F2F2F2;
}

.fa-map-marker-alt {
  color: black;
  background-color: #F2F2F2;
  border-radius: 15px 0px 0px 15px;
  font-size: 20px;
  padding: 14.6px;
  padding-top: 12px !important;
  padding-bottom: 17px;
}
/*boutton s'inscrire*/
.signUp {
  color: #0065FC;
  font-weight: bolder;
  display: flex;
  }
/* Section filtration*/
.filtration li {
  margin: 20px;
  list-style-type: none;
  border: 2px solid #DCDCDC;
  border-radius: 30px;
  padding-right: 20px;
  font-weight: bold;
}

.filtration>li>a {
  margin-left: 10px;
}

.filtration li a:hover {
  color: #0065FC;
  transform: scale(0.5);
  font-style: oblique;
  transition-duration: 0.3s;
  font-weight: bold;
}

.fa-money-bill-wave, .fa-dog, .fa-child, .fa-heart {
  font-size: 1.25rem;
  color: #0065FC;
  border-radius: 50%;
  background-color: #DEEBFF;
  padding: 10px;
}


ul.filtration{
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding:0;
}


h1 {
  font-size: 19px;
}

h2 {
  font-size: 21px;
}

h3 {
  margin:10px;
  font-weight: bold;
}

h3>a {
  text-decoration: none;
  color: black;
  font-size: 14px;
  margin-left: 3em;
}


h2.filtre {
  font-size:18px;
}
.fil{
  display: flex;
  align-items: center;
}
a img {
  object-fit: cover;
}

.info-logement {
  display: flex;
  align-items: center;
  margin:0 0 20px -25px;
}

#icone-i {
  color: #0065FC;
  padding: 10px;
  padding-bottom: 18px;
  padding-top: 5px;
  padding-right: 12px;
  padding-left: 10px;
  font-size: 14px;
  background-color: white;
  border-radius: 50%;
  border: 1px solid grey;
  margin: 8px;
  height: 0.1rem;
  width: 0.1rem;
}

/*-------MAIN--------*/
/*-------Hebergements-------*/

a {
  text-decoration: none;
  color: black;
}

#Marseille img {
  border-radius: 20px 20px 0px 0px;
}

figure:hover {
  transform: scale(1.02);
}

.hebergement{
  display: flex;
  flex-wrap:wrap;
  justify-content: space-around;
  width: 100%;
}
#Marseille {
  background-color: #F2F2F2;
  border-radius: 20px;
  width: 62%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  order: 1;
}


.hebergement1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.hebergement2 {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
}

.fa-star {
  color: #0065FC;
  margin-left: 0.3em;
}

.etoile {
  margin-left: 8px;
}

.grey {
  color: lightgrey;
}
/*#Marseille figure{
  border-radius: 20px;
  background-color: white;
  width: 87%;
  margin: 15px;
  font-size: 12px;
  box-shadow: 3px 3px 5px #ddd7de;
  font-weight: bolder;
  cursor: pointer;
  padding: 4.5px;
}*/


figure {
  border-radius: 20px;
  background-color: white;
  width: 210px;
  height: 125px;
  margin: 20px 15px;
  padding:4px 44px 105px 4px;
  font-size: 12px;
  box-shadow: 3px 3px 5px #DDD7DE;
  cursor: pointer;
}

aside figure{
  width: 81%;
  height: 50px;

}
figure:hover {
  transition-duration: 0.2s;
}

figcaption {
  display: flex;
  flex-direction: column;
  line-height: 5px;
}

figcaption p {
  font-size: 11px;
  margin-top: 10px;
  margin-left: 20px;
  font-weight: normal;
  color: black;
}

figure img {
  height: 150px;
  width: 251px;
}

.plus {
  font-size: 19px;
  font-weight: bold;
  width: 87%;
  padding:20px;
  display: flex;
}

#Marseille>h2 {
  width: 90%;
}

/*---------/aside-------*/

aside {
  flex-direction:column;
  background-color: #F2F2F2;
  width: 30%;
  display: flex;
  font-size: 16px;
  padding:0 10px;
  border-radius: 20px 20px;
  order:2;
}
aside a{
  display: flex;
  justify-content: center;
}
aside figcaption {
  margin-left: 150px;
  margin-top: -158px;
}

aside h3 {
  line-height: 15px;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 3px;
  margin-left: 10px;
  color: #000000;
  text-decoration: none;
}

aside img {
  width: 150px;
  height: 152px;
  padding-bottom: 11px;
  border-radius: 20px 0px 0px 20px;
}

.populaire {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 30px;
}

.fa-chart-line {
  color: black;
  margin-top: 22px;
  font-size: 20px;
}


aside .etoile1{
 
  margin-left: 10px;
  margin-top: 60px;
}
aside .etoile2{
  margin:50px 0 0 10px;
  }

aside .etoile{
  margin-top: 60px;
  margin-left: 1.1em;
}

.prix {
  font-weight: bolder;
  color: black;
  font-size: 15px;
  cursor: pointer;
  margin-left: -7px;
}

strong {
  font-size: 14px;
}

/*--------Activity-------*/

#Activity {
  display: flex;
  padding-left: 10px;
  width: 100%;
  flex-wrap: wrap;
  justify-content: space-around;
}
.title h2{
margin: 50px 0px 0px 20px;
}

  #Activity a{
    display: flex;
    flex-direction: column;
  }
  #Activity h3 {
    text-decoration: none;
    color: #000000;
  }
  .activity2 img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  
  .fort img {
    height: 200px;
    width: auto;
    border-radius: 20px 20px 0px 0px;
    margin-top: -7px;
  }
  
  .activit {
    margin-right: 30px;
    margin-top: 10px;
  }
  .activit img {
    width: auto;
    margin-top: -15px;
    margin-right: 10px;
  }
  .activit figure {
    width: auto;
    margin-bottom: 12px;
  }


#Activity h3 {
  text-decoration: none;
  color: #000000;
}

.activity2 img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.activity1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.activity2 {
  display: flex;
  flex-direction: row;
}

.fort img {
  height: 200px;
  width: 335px;
  border-radius: 20px 20px 0px 0px;
  margin-top: -7px;
}

.fort figure {
  height: 130px;
  width: 290px;
  margin-right: 40px;
}

.iles figure {
  height: 62px;
  width: 285px;
}

.iles img {
  height: 135px;
  width: 330px;
  margin-top: -7px;
  border-radius: 20px 20px 0px 0px;
}

.activit {
  margin-right: 30px;
  margin-top: 10px;
}

.activit img {
  width: 320px;
  margin-top: -15px;
  margin-right: 10px;
}

.activit figure {
  width: 275px;
  margin-bottom: 12px;
}

.dame figure {
  height: 70px;
  margin-bottom: 50px;
}

.longchamp img {
  height: 190px;
}

.longchamp figure {
  height: 108px;
  margin-top: -5px;
}

.activity2 h3 {
  font-size: 15px;
  text-decoration: none;
}

.activity2 figure {
  padding-top: 7px;
}

.place img {
  height: 420px;
  width: 310px;
  border-radius: 20px 20px 0px 0px;
  margin-left: -8px;
  margin-top: -8px;
}

.place figure {
  height: 344px;
  width: 266px;
  margin-left: 5px;
  padding-right: 35px;
  margin-bottom: 10px;
}

.activity1 h3 {
  margin-top: 10px;
}

/*---------Footer----------*/

#footer {
  background-color: #F2F2F2;
  margin-right: 20px;
  padding-top: 40px;
  width: 100%;
  display: flex;
  flex-wrap:wrap;
  justify-content: space-between;
  padding-bottom: 20px;
  margin-top: 20px;
}

#footer .hosting {
  margin-right: 100px;
}

#footer .assistance {
  margin-right: 500px;
}
 h3 .assistance {
  margin-left:15px;
 }
#footer>.about>a {
  text-decoration: none;
  color: black;
  margin-top: 0.5em;
  margin-left: 3em;
  line-height: 30px;
}

#footer>.hosting>a {
  text-decoration: none;
  color: black;
  margin-top: 0.5em;
  margin-left: 1em;
  line-height: 30px;
}

#footer>.assistance>a {
  text-decoration: none;
  color: black;
  margin-top: 0.5em;
  margin-left: 1em;
  line-height: 30px;
}

.about h3 {
  margin-left: 46px;
}

.hosting h3 {
  margin-left: 15px;
}
.assistance h3{
  margin-left:15px;
}

/****************
   @media (MOBILE)****** 
 *****************/
@media screen and (max-width:585px) {
  
  .fil{
    align-items: flex-start;
    margin-top:10px;
  }

  h2.filtre{
    margin-left:30px;
    position: absolute;
    margin-top:20px;
  }

  ul.filtration{
    padding:15px 0;
} 

nav{
  flex-direction: column-reverse;
  width: 100%;
  margin-right:0;
}

.menu a{
  border-bottom:  3px solid transparent;
  border-top:0px;
  }
  header a:hover {
  
  border-bottom-color:#0065FC;
  border-top-color: white;
  color: blue;
}
.menu{
  margin:0;
  padding:25px 30px 0 25px;
  flex-direction: row;
}

#research{
  padding-left:20px;
}
nav ul{
    flex-direction: column-reverse;
    margin-left: 200px;
   }
   .filtration li{
    margin-bottom: 5px;
   }
  
header{
  border-bottom: 2px solid #F2F2F2;
}
  .search {
    display:none;
  }
.logo_img{
  margin-bottom: -40px;
  padding-left:10px;
  height: 47px;
  }
.signUp{
position: absolute;
right: 25px;
top:25px;
}
.fa-search{
  visibility: visible;
  color: white;
  background-color: #0065FC;
  border-radius: 7px;
  font-size: 15px;
  border: 2px solid white;
  height: 15px;
  padding: 16px;
}
#Marseille figure{
    width: 100%;
    margin:12px;
    padding:0 0 105px;
  }
  #Marseille img{
    width: 100%;
  }
  #Marseille a{
    width: 95%;
  }

  aside{
    padding:0;
    border-radius: 0px;
    width: 100%;
    margin:auto;
    order:1;
    }
aside .etoile2{
  margin-top:20px;
}
  
  aside .etoile{
    margin-top:40px;
  }
aside .etoile1{
  margin-top:45px;
}
  aside h3{
    line-height: 20px;
    font-size: 13px;
  }
  strong{
    font-size: 12px;
  }

#Marseille{
  height: auto;
  background-color: white;
  order:2;
  width:100%;
}

aside > a  > figure >  figcaption{
  width: 50%;
}
.title h2{
  margin-top:10px;
}

#footer .about{
  margin:25px 0px;
}
  #footer .assistance{
 margin:25px 30px;
 }


#footer .hosting{
 margin:25px 30px;
}
}

@media screen and (max-width: 728px) {
#Activity figure{
  width: 95%;
  height: 100px;
  padding-right: 0px;
}
.activ {
  width: 100%;
  padding:10px 10px 0 0;
}
.fort {
  width: 100%;
  padding-left: 17px;
}
.iles{
  margin-right: -6px;
}
.activit{
  width: 100%;
}
#Activity a{
  align-items: center;
}
#Activity img{
width: 100%;
height: 170px;
margin:-7px 0;
}
.activity1{
  justify-content: center;
  width: 100%;
}
.activity2{
  flex-direction: column;
  width: 100%;
  padding:0 5px 0 0;
}
.place{
  width: 100%;
  padding:0 0 0 5px;
}
#Activity h3{
  margin-top:20px;
}
}

@media screen and (max-width:947px) and (min-width: 586px) {
  #Marseille figure{
    width: 100%;
    margin:12px;
    padding:0 0 105px;
  }
  #Marseille img{
    width: 100%;
  }
  #Marseille a{
    width: 95%;
  }

  aside{
    padding:0;
    border-radius: 0px;
    width: 100%;
    margin:auto;
    order:1;
    }
aside .etoile2{
  margin-top:20px;
}
  
  aside .etoile{
    margin-top:40px;
  }
aside .etoile1{
  margin-top:45px;
}
  aside h3{
    line-height: 20px;
    font-size: 13px;
  }
  strong{
    font-size: 12px;
  }

#Marseille{
  height: auto;
  background-color: #F2F2F2;
  order:2;
  width:100%;
  border-radius: 0;
  margin-top:30px;
}
 h2.filtre{
  padding-bottom: 80px;
 }
aside > a  > figure >  figcaption{
  width: 50%;
}
.title h2{
  margin-top:10px;
}
.populaire{
  padding:0 70px 0;
}

#footer .about{
  margin:25px 0px;
}
  #footer .assistance{
 margin:25px 30px;
 }


#footer .hosting{
 margin:25px 30px;
}
}

@media screen and (min-width: 728px) and ( max-width: 1435px) {
  #Activity{
    flex-wrap: nowrap;
  }

#Activity figure{
  width: 95%;
  height: 100px;
  padding-right: 0px;
}
#Activity img{
width: 100%;
height: 170px;
margin:-7px 0;
}
.activ {
  width: 100%;
  padding:10px 10px 0 0;
}
.fort {
  width: 100%;
  padding-left: 17px;
}
.iles{
  margin-right: -6px;
}
.activit{
  width: 100%;
}
#Activity a{
  align-items: center;
}
#Activity img{
width: 100%;
height: 170px;
margin:-7px 0;
}
.activity1{
  justify-content: center;
  width: 100%;
}
.activity2{
  flex-direction: column;
  width: 100%;
  padding:0 5px 20px 0;
}
.place{
  width: 100%;
  padding:0 0 0 5px;
}
#Activity h3{
  margin-top:20px;
}
}

  /*******@media tablette*******/

@media screen and (max-width: 1394px) and (min-width: 947px)  {

#Marseille {
  width: 95%;
  background-color: #F2F2F2;
 }

 aside{
  width: 93%;
  margin-top: 30px;
  padding-bottom: 20px;
  order:2;
}

.populaire{
  padding:0 70px 0;
}

 #footer .assistance {
  margin:0px 30px 40px;
 } 

}

/*@media screen and (max-width: 1393px) and (min-width: 1249px)  {
#Marseille{
  flex-wrap: nowrap;
}
aside{
  grid-gap: 30px;
}
.plus{
  width: 60%;
  position: absolute;
  align-self: flex-end;
}
}
